.btn-edit{
    width: 50%;
    float:right;
}

.btn-remove{
    margin-left:10px;
    margin-bottom: 2px;
    float:right;
}

#add-transaction-dialog input {
    margin-bottom: 20px;
}

.navbar-fixed-bottom .container {
    padding: 0;
}

div.ui-datepicker{
    font-size: 18px;
}
