.btn-edit{
    width: 50%;
    float:right;
}

.btn-remove{
    margin-left:10px;
    margin-bottom: 2px;
    float:right;
}

#add-transaction-dialog input {
    margin-bottom: 20px;
}

.navbar-fixed-bottom .container {
    padding: 0;
}

div.ui-datepicker{
    font-size: 18px;
}

.modal.fade:not(.in).bottom .modal-dialog {
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}

.modal.fade:not(.in).bottom-right .modal-dialog {
	-webkit-transform: translate3d(200%, 200%, 0);
	transform: translate3d(200%, 200%, 0);
}
